.icons a div {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 4px;
  /* margin: 4px; */
}

.icons a {
  text-decoration: none;
}

/* .card {
  width: 100%;
  max-width: 400px;
} */

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  max-width: 800px;
}

.graphic {
  width: 700px;
  max-width: 100%;
  margin: 10px;
  border-radius: 5px;
}