/* .card {
  width: 100%;
  max-width: 400px;
} */

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  max-width: 800px;
}

.graphic {
  width: 700px;
  max-width: 100%;
  margin: 10px;
  border-radius: 5px;
}